/*Add to your .css file*/

@charset "utf-8";

*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(152, 42, 42);
   border-bottom: 1px solid #ccc;
   padding: 10px 20px;
   position: sticky;
   top: 0;
   z-index: 1000;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);  
}

.logo {
   font-size: 28px;
   font-weight: bold;
   color: white;
   margin-right: 100px;
 }

 nav {
   display: flex;
   gap: 20px;
   padding: 15px;
 
 }


 nav a {
   text-decoration: none;
   color: white;
   font-size: 16px;
   font-weight: bold;
   transition: color 0.3s;
 }

 nav a:hover {
   color: gray;
 }

 .right-menu {
   display: flex;
   align-items: center;
   gap: 15px;
   margin-left: auto;
 }

 .right-menu a {
   color: white;
   font-size: 14px;
   text-decoration: none;
 }
