footer {
    display: flex;
    width: 100%;
    background-color: rgb(152, 42, 42);
    color: white;
    height: 120px;
}

.leftfoot {
    display: flex;
    flex-direction: column;
    justify-self: left;
    width: 33%;
    text-align: center;
    padding: 35px;
}

.centerfoot {
    display: flex;
    width: 33%;
    flex-direction: column;
    text-align: center;
    padding: 16px;
}

.rightfoot {
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    text-align: center;
    width: 33%;
}


a img {
    border: none;
    text-decoration: none;
    outline: none;
}
