@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(152, 42, 42);
    border-bottom: 1px solid #ccc;
    padding: 20px 30px;  
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 40px;  
    font-weight: bold;
    color: white;
    margin-right: 15px;  
    display: flex;
    align-items: center;
}

#reel-icon {
    margin-left: 10px;  
    width: 65px;        
    height: 65px;       
}

nav {
    display: flex;
    gap: 20px;
    padding: 15px;
    padding-left: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;  
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;  
}

nav a:hover {
    color: yellow; 
    background-color: rgba(255, 255, 255, 0.2);  
}

.right-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}

.right-menu a {
    color: white;
    font-size: 20px;  
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;  
}

.right-menu a:hover {
    color: yellow; 
    background-color: rgba(255, 255, 255, 0.2);  
}
